.DS_Store
Desktop.ini
.idea
*~
*.swp
._*
*.pyc
Thumbs.db
.Spotlight-V100
.Trashes
.svn
.cvs
.travis
.git*
.*.yml
CODE_OF_CONDUCT.md
node_modules
.nuxt
Dockerfile
.dockerignore
buildspec.yml
.docker
.github
/doc.txt