/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
_vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_backend-api
_frontend-vue
nuxt-typescript-vuetify

.docker/workspace-frontend
.docker/workspace-ecommerce
.docker/workspace-backend

/doct.txt

