node_modules
/node_modules
_node_modules
__node_modules
.vscode

/public/hot
/public/storage
/storage/*.key
/vendor
_vendor
.env.backup
.env.stage
.env.dev
.env.prod
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_backend-api
_frontend-vue
nuxt-typescript-vuetify
/package-bkp.json
/docker-compose.stage.yml
/doc.txt
doc.txt
dist
build


# sw stuff
public/sw.js
public/workbox-*.js

# storybook
storybook-static


#### DOCKER
.docker/workspace-frontend
.docker/workspace-ecommerce
.docker/workspace-backend
.docker/laradock

# Data Docker

.docker/data/**
!.docker/data/**/*.gitkeep

.docker/logs/**
!.docker/logs/**/*.gitkeep
