# App
APP_NAME=
APP_PORT=3025
APP_ROUTE_PREFIX=/api
JWT_SECRET=RANDOM_STRING_5729151279
APP_URL=http://localhost:3025


############################# WORKSPACE
DOCUMENT_ROOT=./packages
WORKSPACE_NODE_VERSION=16.14.2
WORKSPACE_HTTP_PORT=3032
WORKSPACE_SSH=2236

############################# NGINX
CHANGE_SOURCE=false
APP_CODE_PATH_HOST=./packages
APP_CODE_PATH_CONTAINER=/var/www
APP_CODE_CONTAINER_FLAG=:cached
VARNISH_BACKEND_PORT=8191

NGINX_HOST_HTTP_PORT=8091
NGINX_HOST_HTTPS_PORT=4438
NGINX_HOST_LOG_PATH=./.docker/logs/nginx/
NGINX_SITES_PATH=./.docker/bin/nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./.docker/bin/nginx/ssl/

# DB
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3333
DB_USERNAME=stage
DB_PASSWORD=stage
DB_DATABASE=stage


# MAIL
MAIL_PROVIDER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_AUTH_USER=example@gmail.com
MAIL_AUTH_PASSWORD=password
MAIL_FROM_NAME='My App'

FORWARD_MAILHOG_PORT=


